@import '/src/styles/variables';


main.episodes {
  @include flex_column;
  justify-content: center;
  width: 100%;
  gap: px_to_rem(24);
  .container_page_title {
    @include flex_column;
    gap: px_to_rem(24);
    width: 100%;
    align-items: center;
    .page_title {
      width: 60%;
    }
    .page_subtitle {
      width: 80%;
      @include Subtitle
    }
  }
  .container_tags {
    @include flex_row;
    gap: 1rem;
    align-items: center;
    justify-content:center;
    // margin: 1rem 0;
    .tag {
      cursor: pointer;
      padding: 0 1rem;
      border-radius: px_to_rem(12);
      border: 2px solid $black;
    }
    .tag_checked {
      background-color: $black;
      color: $white;
      border: 2px solid $white;
    }
  }

  div.episodes_list {
    @include flex_column;
    justify-content: center;
    align-items: center;
    gap: px_to_rem(48);
    width: 100%;
    .card_container{
      width: 80%;

      &.rejected{
        display: flex;
      }
      &.selected {
        display: flex;
        // scale: 2;
      }
      align-items: center;
      *{
        text-decoration: none;
      }
    }
  }
}