@import '/src/styles/variables.scss';

.theme_dark {
  color: $light;
  background: linear-gradient(to bottom, $backgrounds-screen-background-dark, $backgrounds-screen-background-dark), linear-gradient(123deg, #fd5 0%, #98b680 94%);  
}
.theme_light {
  color: $basic-black-100;
  background: linear-gradient(to bottom, $backgrounds-screen-background-light, $backgrounds-screen-background-light), linear-gradient(129deg, #fd5 0%, #98b680 94%);
}



