@import '/src/styles/variables';

main.about {
  @include flex_column(2rem);
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
  margin-top: 6rem;
  
  &>div.page_title{
    @include flex_column;
    justify-content: center;
    align-items: center;
    min-height:10vh;
    width: 80%;
    &>div.heading_main{
      width: 60%;
    }
    &>div.heading_sub{
      @include flex_row;
      width: 80%;
    }
  }
  &>div.details{
    @include flex_row;
    justify-content: center;
    align-items: flex-start;

    .pod_description{
      margin-bottom: 2rem;
    }
    &>div.text{
      @include flex_column;
      min-width: 300px;
      max-width: 45vw;

      &>.sec_title {
        
      }
      &>.sec_description {
        @include regular;
      }
    }
    &>div.graphic {
      position: relative;
      overflow: hidden;
      min-width: 300px;
      min-height: 320px;
      max-width: 45vw;

      &>.image{
        object-fit: cover;
      }
    }
  }
}

.pod_desc{
  min-height: 50vh;
  @include flex_column;
  align-items: flex-start;
  width: 80%;
  p{
    @include Subtitle;
    font-size: 1em;
  }
}