@import '/src/styles/variables.scss';

main.contact {
  @include flex_row;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin-top: 6rem; /* Add margin to avoid obstruction by the header */
  width: 100%;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url('/images/nairobi.png') no-repeat center center;
    background-size: cover;
    opacity: 0.2; /* Adjust the opacity to your preference */
    z-index: -1;
  }

  .banner {
    @include flex_column;
    color: $white;
    position: relative;
    overflow: hidden;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2rem;
    width: clamp(300px, 45%, 720px);
    height: clamp(320px, 440px,480px);
    border-radius: px_to_rem(32);
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for better text visibility */

    .banner_bg {
      min-height: 400px;
      height: 440px;
      max-height: 480px;
      object-fit: cover;
    }
    h1 {
      padding: 1rem;
      z-index: 100;
    }
  }
  .form_container {
    min-width: 40%;
    max-width: 95%;
  }
  .contact_form {
    width: 100%;
    @include flex_column(0.1rem);
    justify-content: center;
    align-items: center;
  }
}