@mixin Subtitle {
  font-size: 1.275em;
}

@mixin regular {
  font-size: 0.85em;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

@mixin Bold {
  font-size: 0.85em;
}

@mixin sm {
  font-size: 0.68em;
  line-height: 1.2;
  letter-spacing: 0.048em;
}
@mixin Pretitle {
  font-size: 0.64em;
  letter-spacing: 0.019em;
}
@mixin xsm {
  font-size: 0.54em;
  line-height: 1.2;
  letter-spacing: 0.038em;
}
@mixin xxsm {
  font-size: 0.44em;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@mixin big_title {
  font-size: 3.8em;
}

$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

@mixin respond-to($media) {
  @if $media == small {
    @media (max-width: $breakpoint-small) { @content; }
  } @else if $media == medium {
    @media (max-width: $breakpoint-medium) { @content; }
  } @else if $media == large {
    @media (max-width: $breakpoint-large) { @content; }
  }
}
