@import '/src/styles/media';
@import '/src/styles/mixins';

$backgrounds-screen-background-dark: rgba(0, 0, 0, 0.8);
$brand-colors-green: #8DC63F;
$brand-colors-orange: #F6D85E;
$brand-colors-purple: #783FC6;
$black: black;
$white: white;

@function px_to_rem($px-value) {
  @return ($px-value / 16) + rem;
}

@mixin flex_column($gap: 1rem) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex_row($gap: 1rem) {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  gap: $gap;
}