@import '/src/styles/media';
@import '/src/styles/mixins';

$background-light: #f9f9f9;
$background-dark: #1a1a1a;
$text-dark: #333333;
$text-light: #ffffff;
$text-muted: #777777;
$brand-colors-green: #8DC63F;
$brand-colors-orange: #F6D85E;
$brand-colors-purple: #783FC6;
$black: black;
$white: white;

@function px_to_rem($px-value) {
  @return ($px-value / 16) + rem;
}

@mixin flex_column($gap: 1rem) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex_row($gap: 1rem) {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: stretch;
  flex-wrap: wrap;
  gap: $gap;
}

@mixin respond-to($media) {
  @if $media == small {
    @media (max-width: $breakpoint-small) { @content; }
  } @else if $media == medium {
    @media (max-width: $breakpoint-medium) { @content; }
  } @else if $media == large {
    @media (max-width: $breakpoint-large) { @content; }
  }
}