@import '/src/styles/variables';

main.episode {
  margin-top: 6rem;
  @include flex_column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url('/images/kampala.png') no-repeat center center;
    background-size: cover;
    opacity: 0.2; /* Adjust the opacity to your preference */
    z-index: -1;
  }

  &>* {
    width: 70vw;
    @include respond-to(small) {
      width: 95vw;
    }
    @include respond-to(medium) {
      width: 80%;
    }
  }

  .playerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
    // background-color: $background-light;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @include respond-to(small) {
      flex-direction: column;
      align-items: center;
    }
    @include respond-to(medium) {
      flex-direction: column;
      align-items: center;
    }

    .ep_artwork {
      position: relative;
      overflow: hidden;
      width: 350px;
      height: 350px;
      border-radius: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      @include respond-to(medium) {
        height: 270px;
        width: 270px;
      }
      @include respond-to(small) {
        height: 270px;
        width: 270px;
      }

      &>.image {
        object-fit: cover;
        border-radius: 16px;
      }
    }

    .ep_details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 2rem;
      width: 50%;

      @include respond-to(small) {
        width: 100%;
        align-items: center;
      }
      @include respond-to(medium) {
        width: 90%;
        align-items: center;
      }

      .ep_player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        width: 100%;

        .audio {
          width: 100%;
          @include respond-to(small) {
            width: 120%;
          }
          @include respond-to(medium) {
            width: 100%;
          }
          &::-webkit-media-controls-panel {
            background-color: $brand-colors-green;
            border-radius: 12px;
          }
        }
      }

      .ep_platforms {
        @include flex_row;
        justify-content: center;
        gap: 1rem;

        .link {
          text-decoration: none;
          color: inherit;
          padding: 0.5rem 1rem;
          border: 1px solid $brand-colors-purple;
          border-radius: 8px;
          transition: scale 0.3s, color 0.3s;

          &:hover {
            scale: 1.05;
            color: $white;
          }
        }
      }
    }
  }

  .description {
    @include flex_column;
    border-radius: 12px;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 1rem;
    align-items: center;

    p {
      @include Subtitle;
    }
  }
}