@import '/src/styles/variables';



main.episode {
  @include flex_column;
  width: 100%;

  &>* {
    width: 70%
  }

  .playerContainer {
    @include flex_row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    min-width: 300px;
    margin: 20px auto;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .image_container {
      position: relative;
      overflow: hidden;
      // width: 100%;
      height: auto;
      min-width: 100px;
      min-height: 100px;
      max-width: 45vw;
      border-radius: px_to_rem(16);

      &>.image{
        object-fit: cover;
      }
    }
    .controls {
      text-align: center;
      width: 70%;
    }
  }

  .title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }

  .audio {
    width: 100%;
  }

  .description{
    @include flex_column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
  }
}