@import '/src/styles/variables';



main.episode {
  @include flex_column;
  width: 100vw;
  justify-content: center;
  align-items: center;

  &>* {
    width: 70vw;
    @include respond-to(small){
      width: 95vw;
    }
    @include respond-to(medium){
      width: 80%;
    }
  }

  .playerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 1.5rem;

    @include respond-to(small){
      flex-direction: column;
      align-items: center;
    }
    @include respond-to(medium){
      flex-direction: column;
      align-items: center;
    }

    .ep_artwork {
      position: relative;
      overflow: hidden;
      width: 350px;
      height: 350px;
      @include respond-to(medium){
        height: 270px;
        width: 270px;
      }
      @include respond-to(small){
        height: 270px;
        width: 270px;
      }
      border-radius: px_to_rem(16);

      &>.image{
        object-fit: cover;
      }
    }
    .ep_details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      width: 45%;
      @include respond-to(small){
        width: 100%;
      }
      @include respond-to(medium){
        width: 90%;
      }

      .ep_player{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        width: 100%;
        
        .audio {
          width: 100%;
          @include respond-to(small) {
            width: 120%;
          }
          @include respond-to(medium) {
            width: 100%;
          }
          &::-webkit-media-controls-panel { 
            background-color: #e3a3a3;
            border-radius: 12px; 
          }
        }
        
      }

      .ep_platforms{
        @include flex-row;
        justify-content: center;

        .link {
          text-decoration: none;
          color: inherit
        }
      }
    }
    
  }


  .description{
    @include flex_column;
    background-color: $brand-colors-orange;
    border-radius: 12px;
    margin-bottom: 1rem;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    box-shadow: 5px 5px $brand-colors-green;
    
    p {
      @include Subtitle;
    }
  }
}