@import '/src/styles/variables.scss';

.TextInput {
  @include flex_column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  margin: 0.5rem 0 ;
  gap:0.5rem;

  .input_field {
    width: 100%;
    outline: none;
    padding:0.5rem 1rem;
    border: solid 1px $brand-colors-green;
    border-radius: 12px;

    &:focus {
      outline: 4px solid $brand-colors-orange;
      border: solid 1px $brand-colors-orange;
      transition: all 300ms ease-in-out;
    }
  }
}