---
import Layout from "../layout/Layout.astro";
import Nairobigray from "../images/nairobi_gray.png";
import Image from "astro/components/Image.astro";
---
<Layout>
  <section class="page_lost">
    <h1>wooow...</h1>
    <h1 class="code">404</h1>
    <h1>PAGE NOT FOUND</h1>
    <h3>“Not all those who wander are lost.” — <i>J.R.R. Tolkien</i></h3>
    <Image
      src={Nairobigray}
      alt="404 image"
      width={400}
      height={400}
      class="nairobi-gray" />
  </section>
</Layout>

<style lang="scss">
  @use '../styles/partials/combined.scss' as *;
  .page_lost {
    @include flexbox(column, center, flex-start);
    color: $white;
    h1 {
      margin-bottom: $spacing-2;
    }
    h3 {
      margin-bottom: $spacing-1;
    }
  }

  .code {
    font-size: 10rem;
    font-weight: 900;
    color: $green;
    margin-bottom: $spacing-2;
    line-height: 0.8;
  }

  .nairobi-gray{
    position: absolute;
    right: 3%;
    top: 20%;
    z-index: -1;
  }
</style>


