---
import Image from "astro/components/Image.astro"
import Layout from "../layout/Layout.astro"
import Button from "../components/Button.astro";
import '../styles/contact.scss';
---

<Layout>
  <section class="container contact">
    <Image
      src="https://placehold.co/600x400"
      alt="Contact Us"
      width={600}
      height={400}
      class="contact-image"
    />
    <form action="POST" class="contact-form">
      <div class="title">
        <h1>Get in Touch</h1>
        <p>We'd love to hear from you! Fill out the form below and we'll get back to you sooner than you think !</p>
      </div>
      <div class="form-field">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-field">
        <label for="city">City</label>
        <input type="text" id="city" name="city" required />
      </div>
      <div class="form-field">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="6" required></textarea>
      </div>
      <Button type="primary">HEAR ME OUT</Button>
    </form>
  </section>
</Layout>