@import '/src/styles/variables.scss';
@import '/src/styles/reset.scss';


body{
  min-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 600ms ease-in;
  &>main{
    min-height: 50vh;
  }
}

header {
  width: 100%;
}

// header {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   background: rgba(256,256,256, 0.25);
//   backdrop-filter: blur(16px);
//   z-index: 100;
// }
// @media only screen and (max-width: 767px) {
//   header {
//     position: relative;
//   }
// }
main {
  padding-top: 18vh;
}

/* Base Styles */
h1 {
  font-size: 3.24em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.227em;
}
h2 {
  font-size: 2.59em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.182em;
}
h3 {
  font-size: 2.08em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.145em;
}
h4 {
  font-size: 1.66em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.116em;
}
h5 {
  font-size: 1.33em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.093em;
}

h6 {
  font-size: 1.06em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.074em;
}

link {
  font-size: 0.85em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
button {
  font-size: 0.85em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.034em;
}

p {
  font-size: 0.85em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}
small {
  font-size: 0.74em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}


/* Media Queries */

/* 4K Displays */
@media only screen and (min-width: 3840px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.2em;
  }
  h3 {
    font-size: 2.6em;
  }
  h4 {
    font-size: 2.1em;
  }
  h5 {
    font-size: 1.7em;
  }
  h6 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.2em;
  }
}

/* Tablets Portrait */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.1em;
  }
  h3 {
    font-size: 1.8em;
  }
  h4 {
    font-size: 1.5em;
  }
  h5 {
    font-size: 1.2em;
  }
  h6 {
    font-size: 1.1em;
  }
  p {
    font-size: 0.95em;
  }
}

/* Tablets Landscape */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 2.1em;
  }
  h4 {
    font-size: 1.75em;
  }
  h5 {
    font-size: 1.4em;
  }
  h6 {
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
}

/* Mobile Portrait */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 0.9em;
  }
  h6 {
    font-size: 0.85em;
  }
  p {
    font-size: 0.8em;
  }
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.7em;
  }
  h3 {
    font-size: 1.45em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.85em;
  }
}


