@import '/src/styles/variables.scss';

.page {
  @include flex_column;
  gap: px_to_rem(24);
  justify-content: center;
  align-items: center;
  width: 100%;

  &>div{
    min-height: 90vh;
  }
}
@mixin side_bar{
  z-index: 4;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-direction: column;
  flex: 0 auto;
  width: 15vw;
  max-width: 18rem;
  height: 100%;
  display: flex;
  position: relative;
}

.over_cast {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  top: 0;
  background: rgba(256,256,256, 0.25);
  backdrop-filter: blur(16px);
}

section.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // height: 80vh;
  position: relative;
  width: 100%;
  overflow: hidden;

  .spacer{}

  .right_boxes {
    @include side_bar();
    align-items: flex-start;
    margin-left: 2rem;
    & > :nth-child(even){
      margin-left: 2rem;
    }
    & > :last-child{
      margin-left: 1rem;
    }
  }
  .left_boxes {
    @include side_bar();
    align-items: flex-end;
    height: 100%;
    margin-right: 2rem;
    & > :nth-child(even){
      margin-right: 2rem;
    }
    & > :last-child{
      margin-right: 1rem;
    }
  }
  .box {
    background: gray;
    height: 200px;
    width: 300px;
  }
  .box {
    z-index: -1;
    aspect-ratio: 1 / 1;
    background-image: none;
    background-size: auto;
    border-radius: 8px;
    width: 100%;
    // height: auto;
    position: relative;
    overflow: hidden;
    .image {
      object-fit: cover;
    }
  }
  .main_hero {
    @include flex_column;
    z-index: 4;
    justify-content: center;
    align-items: center;
    width: 70vw;
    min-width: 200px;
    height: 100%;
    padding-bottom: 4rem;
    display: flex;
    position: relative;

    h1 {
      text-align: center
    }
    h4 {
      // @include Subtitle;
      text-align:center;
    }
    .topics_scroller{
      @include flex_column;
      gap:2rem;
      margin-bottom: 3rem;
      justify-content: flex-start;
      position: relative;
      color: green;

      .underline{
        width: 50vw;

        position: absolute;
        top: 3em;
        z-index: -1;
      }
    }
  }
}


.section_topics{
  @include flex_row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 5rem;
  .topics_description {
    @include flex_column;
    gap: 2rem;
    width: clamp(350px, 45%, 720px);
    p {
      @include Subtitle;
    }
  }
}

div.topics_contianer {
  padding:1rem 0 ;
  width: 100%;
  margin-bottom: 2rem;
  
  @include flex_row;
  align-items: center;
  justify-content: center;
  width: clamp(350px, 45%, 720px);


  .topic_card {
    width: clamp(300px, 28vw, 720px);
    clip-path: polygon(79.6% 0, 100% 15%, 100% 100%, 0 100%, 0 0);
    height: 75vh;
    border: black 4px solid;
    margin-bottom: 5rem;
    // background: $white;
    color: $rich-black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0);
    backdrop-filter: blur(8px);

    &.dark {
      color: $white;
      background: rgba(0, 0, 0, 0.1);
    }
    .topic_desc {
      width:80%;
      height: 90%;
      @include flex_column;
      padding: 1rem;

      p{
        @include Subtitle;
      }
    }
    .topic_title {
      width: 20%;
      height: 100%;
      // background: #a73939;
      border-left: black 4px solid;
      padding: 15% 1rem;
      @include flex_column;
      justify-content: space-evenly;
    }

    .topic_header {
      @include flex_row;
      gap: 1rem;
      padding: 0.5rem;
    }

    .topic_details {
      @include flex_column;
      
      p.hide {
        display: none;
        visibility: hidden;
      }
    }
  }
  
}

div.section_recent_episodes {
  @include flex_column;
  align-items: center;
  justify-content: center;
  width: 90%;
  h1 {
    margin: 4rem 0;
  }
  .episodes_container{
    @include flex_column;
    gap: 2rem;
  }
  .see_more_link{
    margin: 4rem 0;
  }
}


div.section_about_host {
  @include flex_column;
  width: 90%;
  

  .host_container {
    @include flex_row;
    width: 100%;

    .host_photo {
      width: clamp(350px, 45%, 720px);
      height: 80vh;
      background: blue;
    }
    .host_details {
      width: clamp(350px, 45%, 720px);
      height: clamp(400px, 80vh, 720px);
      @include flex_column;
      justify-content: flex-start;

      p{
        @include Subtitle;
        text-align: justify;
      }
    }
  }
}

div.section_newsletter {
  @include flex_column;
  width: 90%;

  .newsletter_container {
    @include flex_column;
    width: 100%;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center
    }

    .signup_section {
      @include flex_row;
      justify-content: center;
      align-items: center;

      &>div,form {
        width: clamp(350px, 45%, 500px);
      }

      .signup_prompt {
        @include flex_column;

        p{
          @include Subtitle;
        }
      }
      form {
        @include flex_column;
        align-items: center;
      }
    }
  }
}