@import '/src/styles/variables.scss';

.page {
  @include flex_column;
  gap: px_to_rem(0);
  justify-content: center;
  align-items: center;
  width: 100%;
  
  position: relative;
  overflow: hidden;

  &>section{
    z-index: 5;
    // min-height: 80vh;
  }
}
@mixin side_bar{
  z-index: 4;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-direction: column;
  flex: 0 auto;
  width: 15vw;
  max-width: 18rem;
  height: 100%;
  display: flex;
  position: relative;
}

.over_cast {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  top: 0;
  background: rgba(256,256,256, 0.25);
  backdrop-filter: blur(16px);
}

.abs_image_container{
  position: absolute;
  z-index: 0;

  &.hero_backdrop{
    top:-10%;
    right:20%;
    opacity: 0.4;
    .image_container {
      width: 1080px;
      height: 1080px;
    }
  }

  &.footer_backdrop{
    bottom: -1%;
    left: -15%;
    .image_container {
      width: 540px;
      height: 540px;
    }
  }

  .image_container {
    position: relative;

    &>img {
      object-fit: contain;
    }
  }
  @include respond-to(small){
    left:50%;
  }
}


