@import '/src/styles/variables.scss';



.Header {
  display: flex;
  padding: 0.5rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px); 
  // background: transparent;
  a {
      text-decoration: none;
      color: inherit;
    }
}

.header_item{

}

.logo_container{
  width: 12rem;
  height: 4rem;
  aspect-ratio: 3/1;
}

.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  
  li.nav_item {
    list-style: none;
    cursor: pointer;

    &.active {
      .nav_link {
        color: #8DC63F;
      } 
    }
    .nav_link{
      color: #000;
      // font-family: Bender;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      // line-height: 3.888rem; /* 311.04% */
      letter-spacing: 0.1125rem;
    }
  }
  li.nav_cta {
    display: flex;
    padding: 0rem 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    background: #783FC6;

    cursor: pointer;

    

    .nav_link {
      color: #FFF;
      // font-family: Bender;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      // line-height: 2rem; /* 160% */
      letter-spacing: 0.1125rem;
    }
  }
}