@import '/src/styles/variables.scss';


.Header {
  // background: $rich-black;
  width: 100%;
  padding: px_to_rem(10) px_to_rem(32); 
  @include flex_row;
  justify-content: space-between;

  .logo {
    cursor: pointer;
  }
  .navigation {
    @include flex_column;
    align-items: flex-end;

    .nav_links {
      @include flex_row;

      .link_item{
        color: inherit;
        text-decoration: none;
      }
    }
    .theme_switch {
      width: 36px;
      height: 36px;
      padding: 4px;
      border: 2px solid inherit;
      border-radius: 100px;
      cursor: pointer;
      transition: all 300ms ease-in-out;
    }
    // .theme_swit
  }
}