---
import Image from 'astro/components/Image.astro';

interface Props {
  title?: string;
  description?: string;
  background?: string;
  icon?: string;
  
}
const { 
  title = 'CAREER',
  description="Navigate diverse career paths in the geospatial industry. Discussing pivotal moments, key learnings, and challenges, these episodes inspire you to explore new career horizons." ,
  background = "https://placehold.co/400",
  icon = "https://placehold.co/72"
  } = Astro.props as Props;
---

<div class="card-theme">
  <Image
    src={icon}
    alt="Theme Icon"
    width={72}
    height={72}
    class="theme-icon"
  />
  <Image
    src={background}
    alt="Background Image"
    width={400}
    height={400}
    class="bg-image"
  />
  <div class="theme-details">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>




<style lang="scss">
  @use "../styles/partials/combined.scss" as *;

  .card-theme{
    display: flex;
    position: relative;
    width:  20rem;
    height: auto;
    padding: $spacing-6 $spacing-4;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    overflow: hidden;
    transition: hover 2s ease-in-out;

    border-radius: $radius-md;
    
    .bg-image{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: auto;
      object-fit: fill;
      align-self: center;
      aspect-ratio: 1/1;
      z-index: -1;
    }

    .theme-icon{
      // border: 2px solid $purple;
      mix-blend-mode: lighten;
    }
    .theme-details {
      width:100%;
      h3 {
        margin: 0;
        color: $white;
      }
      p{
        display: none;
        color: $white;
        font-weight: 500;
        letter-spacing: 1.2;
        line-height: 80%;
        font-size: small;
      }
    }
    &:hover{
      .theme-details p{
        display: inline;
      }
    }
  }

  @media (max-width: 480px) {
    .card-theme{
      width:  160px;
      height: 160px;
      padding: $spacing-4 $spacing-3;
      .theme-icon{
        width: 48px;
        height: 48px;
      }
      .theme-details {
        h3 {
          font-size: medium;
        }
        p{
          font-size: x-small;
        }
      }
    }
  }
</style>