---
import Image from 'astro/components/Image.astro';

interface Props {
  title?: string;
  description?: string;
}
const { 
  title = 'CAREER',
  description="Navigate diverse career paths in the geospatial industry. Discussing pivotal moments, key learnings, and challenges, these episodes inspire you to explore new career horizons." 
  } = Astro.props as Props;
---

<div class="card-theme">
  <Image
    src="https://placehold.co/72"
    alt="Theme Icon"
    width={72}
    height={72}
    class="theme-icon"
  />
  <div class="theme-details">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>


<style lang="scss">
  @use "../styles/partials/combined.scss" as *;

  .card-theme{
    display: flex;
    width: 20rem;
    height: 20rem;
    padding: $spacing-6 $spacing-4;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    // gap: 3rem;
    flex-shrink: 0;
    aspect-ratio: 1/1;

    background: no-repeat center url("https://placehold.co/400");
    border-radius: $radius-md;

    .theme-icon{
      border: 2px solid $purple;
    }
    .theme-details {
      width:100%;
      h3 {
        margin: 0;
      }
      p{
        display: none;
      }
    }
    &:hover{
      .theme-details p{
        display: inline;
      }
    }
  }

</style>