/* components/Carousel.module.scss */
.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.carousel-slide{
  width: 100%;
  height: 60vh;
  border-radius: 10px;
}
.carousel_image{
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;

  &.prev {
      left: 10px;
  }

  &.next {
      right: 10px;
  }
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

  &.active {
      background-color: #333;
  }
}
