@import '/src/styles/variables';

.LatestEp {
  position: relative;
  overflow: visible;

  .backgroundImageContainer{
    position: absolute;
    top: 0;
    right: -20vw;
    z-index: -1;
    width: 720px;
    height: 720px;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }
}

.LatestEpCard {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  .ep_player{
    display: flex;
    width: 25.3125rem;
    padding: 1.25rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    .ep_description {
      display: flex;
      width: 23.6875rem;
      flex-direction: column;
      align-items: flex-start;

      :first-child{
        align-self: stretch;
        color: #8DC63F;
        font-family: Bender;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2rem; /* 160% */
        letter-spacing: 0.19256rem;
      }
      :last-child{
        align-self: stretch;
        color: #000;
        font-family: Bender;
        font-size: 2rem;
        font-style: normal;
        font-weight: 900;
        line-height: 2rem; /* 100% */
        letter-spacing: 0.19256rem;
      }
    }
    .player_controls{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      align-self: stretch;
    }
  }

  .ep_artwork{
    
    img{
      width: 18.875rem;
      height: 18.875rem;
      align-self: stretch;
      aspect-ratio: 1/1;
    }
  }

  .link_to_ep {
    text-decoration: none;
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    // border-radius: 62.5rem;
    background: #8DC63F;

    p {
      color: #FFF;
      font-family: Bender;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 900;
      line-height: 2rem; /* 160% */
      letter-spacing: 0.19256rem;
    }
  }
}