@import '/src/styles/variables';

.EpisodeCard {
  @include flex_row;
  text-decoration: none;
  position: relative;
  color: inherit;
  gap:0.25;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 2px solid green;
  
  .episode_number {
    @include flex_column;
    justify-content: space-between;
    align-items: center;
    width: 10%;
  }
  .episode_title {
    width: 75%;
  }
  .icon {
    width: 10%;
  }
  .artwork_container {
    position: absolute;
    top: -70%;
    right: 15%;
    overflow: hidden;
    min-width: 300px;
    min-height: 320px;
    max-width: 45vw;
    opacity: 0;
    transition: all 300ms ease-in-out;
    z-index: 50;
    &>.image{
      object-fit: contain;
    }
    
  }
  &:hover{
    .artwork_container{
      opacity: 1;
    }
  }
}

