@import '/src/styles/variables.scss';

div.Footer {
  @include flex_column(px_to_rem(24));
  color: $white;
  align-items: center;
  padding: px_to_rem(24) px_to_rem(48);
  width: 100vw;
  background: $rich-black;
  
  &>div.main_footer {
    @include flex_row(1rem);
    justify-content: space-evenly;

    &>div.description{
      @include flex_column(px_to_rem(33));
      align-items: center;
      max-width: px_to_rem(340);
      padding: px_to_rem(20) px_to_rem(22);

      .podcast_title {
        text-align: center;
      }
      .podcast_description {
        text-align: center;
      }
    }

    &>div.quick_links{
      @include flex_column(px_to_rem(25));
      padding: px_to_rem(24) px_to_rem(13);
      justify-content: center;

      ul.quick_links_list {
        @include flex_column(px_to_rem(14));
        align-items: center;
        list-style: none;
      }

      .links_title {

      }
      ul.quick_links_list {

      }
    }

    &>div.email_contacts{
      @include flex_column(px_to_rem(26));
      padding: px_to_rem(24) px_to_rem(22);

      .reach_out {}

      ul.contact_emails {
        @include flex_column(px_to_rem(14));
        align-items: center;
        list-style: none;
      }
    }
    &>div.engagement{
      @include flex_column(px_to_rem(25));
      padding: px_to_rem(24) px_to_rem(12);
      min-width: px_to_rem(280);

      &>div.subscriptions {
        @include flex_column;
        align-items: center;

        &>div.subscriptions_title{}

        &>ul.host_sites{
          @include flex_row(0.5rem);
          justify-content: space-evenly;
          margin: 1rem 0;
          list-style: none;

          &>li.host_sites_item{
            width: 48px;
            height: 48px;
          }
        }
      }

      &>div.socials {
        @include flex_column;
        align-items: center;

        &>div.socials_title{}

        &>ul.social_sites{
          @include flex_row(0.5rem);
          justify-content: space-evenly;
          margin: 1rem;
          list-style: none;

          &>li.social_sites_item{
            width: 48px;
            height: 48px;
          }
        }
      }


    }
  }
  
  &>div.copyright{
    @include flex_column;
    align-items: center;
    &>span {
      text-align: center;
    }
  }
}