@import '/src/app/variables.scss';

.ComingSoon {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
  align-content: center;
  align-items: center;

  div {
    align-self: center;
  }

  .logo_animation {
    min-width: 220px;
    min-height: 220px;
  }
}