@import '/src/styles/variables.scss';

.ComingSoon {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: center;
  align-content: center;
  align-items: center;

  .loading {
    position: absolute;
    width: 40vw;
  }
  .success_alert {
    position: absolute;
    top: -10rem;
    opacity: 0;

    &.hide {
      top: -10rem;
      visibility: hidden;
    }

    &.show {
      animation-name: alertin;
      top: 1rem;
      visibility: visible;
      opacity: 0;
      animation-duration: 2s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-delay: 200ms;
    }
  }
  @keyframes alertin {
    from {
      top: -10rem;
      visibility: hidden;
      opacity: 0;
    }
    to{
      top: 1rem;
      visibility: visible;
      opacity: 1;
    }
  }
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.prompt {
      min-width: 50vw;
      align-items: center;
      display: flex;
      align-items: center;
      gap:1.5rem;
      h2,h3 {
        text-align: center;
      }
    }
    &.form_field{
      min-width: 60vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      div.text_inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1rem;
      }
    }
  }

  .logo_animation {
    padding: 1rem;
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 1024px) {
  .ComingSoon {
    height: 100vh;
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    div.text_inputs {
      display: flex;
      flex-direction: row;
    }
  }
}