@import '/src/styles/variables.scss';

.dark_mode_switch {
  position: fixed;
  bottom:4rem;
  right: 4rem;
  padding: 1rem;
  cursor: pointer;
  z-index: 1000;
  background: black;
  color: white;

  @include respond-to(small){
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    @include sm;
  }
  @include respond-to(medium){
    bottom: 2rem;
    right: 2rem;
    padding: 1rem;
    @include regular;
  }
}